* {
  margin: 0;
  padding: 0;
}
body {
  background-color: lightgreen;
}
.wrapper {
  margin: 0 auto;
  transform: translateY(50%);
  width: 300px;
  height: 300px;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(100px, 1fr));
}
.wrapper__box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  border: 1px solid black;
  cursor: pointer;
}
.winner {
  width: 300px;
  margin: 0 auto;
  height: 50px;
  background-color: lightsalmon;
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
}
