* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blueDark: #3b5c5d;
  --blueDarkTransparent: rgba(49, 68, 64, 0.2);
  --white: #e6e6e6;
}
body {
  background-color: var(--blueDark);
  font-family: "Permanent Marker", cursive;
}
.main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.wrapper-board {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(100px, 1fr));
}
.wrapper-board__box {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 6rem;
}
.wrapper-board__box--border-left {
  border-left: 8px solid var(--blueDarkTransparent);
}
.wrapper-board__box--border-bottom {
  border-bottom: 8px solid var(--blueDarkTransparent);
}
.wrapper-board__box--border-right {
  border-right: 8px solid var(--blueDarkTransparent);
}
.wrapper-winner {
  display: none;
  flex-direction: column;
  justify-items: center;
  background-color: rgba(52, 154, 202, 94%);
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}
.wrapper-winner__texto {
  font-size: 4rem;
}
.wrapper-winner__button {
  font-family: "Permanent Marker", cursive;
  padding: 5px 2rem;
  border-radius: 2px;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--white);
  background-color: var(--blueDarkTransparent);
}
